- title     = node.name(I18n.locale)
- handle    = content_tag :i, '', :class => "icon-move"
- link      = link_to(title, node.id.to_s, :title => title)
- controls  = render(:partial  =>  "#{opts[:path]}/controls", :locals  =>  { :node => node, :opts => opts })
- controls  = content_tag(:span, controls, :class => 'btn-group pull-right')
- element   = handle + link + controls
%div{ :class => "link#{' root' if root}" }= element
