<div id="impress">
   <div id="want-to-create-your-own-web-startup-but-dont-know-how" class="step facet" data-x="3500" data-y="0" data-z="2000" data-scale="6">
     <p>
       <span class='light'>Want to create your own </span>
       <span class='big'>web startup</span> 
       <span class='light'>but don't know how?</span>
     </p>
   </div>

   <div id="we-offer" class="step facet" data-x="4500" data-y="0" data-z="1000" data-scale="6" data-rotate-y="90">
     <p>
       <span class='ital'>We offer classes in </span>
       <span class='light'>programming, design and entrepreneurship</span> 
       <span class='ital'>from people who have done it themselves.</span>
     </p>
   </div>

   <div id="need-raise-or-better-job" class="step facet" data-x="3500" data-y="0" data-z="0" data-rotate-y="180" data-scale="6">
     <p>
       <span class='light'>Need to improve your skills to get a </span>
       <span class='big'>raise</span>
       <span class='light'>or</span>
       <span class='light'>better</span>
       <span class='big'>job?</span>
     </p>
   </div>

   <div id="current-tech" class="step facet" data-x="2500" data-y="0" data-z="1000" data-rotate-y="270" data-scale="6">
     <p>
       <span class='ital'>We offer the most current tech and business solutions to help you </span><br>
       <span class='light'>stay ahead of the curve</span>
     </p>
   </div>

   <div id="boost" class="step facet" data-x="3500" data-y="1000" data-z='1000' data-rotate-x='90' data-rotate-y='180' data-rotate-z="90"  data-scale="6">
     <div id='credentials-text'>
       <span id='credentials-text-1'>and boost your </span>
       <span id='credentials-text-2'>CREDENTIALS </span>
       <span id='credentials-text-3'>with recruiters</span>
     </div>
   </div>

   <div id="we-believe" class="step" data-x="20000" data-y="-1000" data-z="-3000"  data-scale="7">
     <p id="we-believe-text">
       <span>we believe</span>
       <span class='big'>learning</span> 
       <span>and</span> 
       <span class='big'>doing</span> 
       <span>are the same</span>
      </p>
   </div>
   
   <div id="hands-on" class="step" data-x="17000" data-y="2000" data-z="0" data-scale="6">
     <p id='hands-on-text'>
       <span id='hands-on-text-1'>Our application-based classes provide</span>
       <span id='hands-on-text-2'>hands-on training and trouble shooting</span>
       <span id='hands-on-text-3'>at every step</span>
     </p>
   </div>
   
   <div id="fast-track" class="step" data-x="14000" data-y="5000" data-z="3000" data-scale="4">
     <p id="fast-track-text">We <span class='big'>fast</span> track learning by<br>combining the <span class='big'>best</span> of <br>online and offline solutions</p>
   </div>
   
   <div id="only-for-important" class="step" data-x="13000" data-y="5500" data-z="-5000" data-rotate='18' data-scale="1">
     <p id="only-for-important-text">So you only come to class for the important stuff</p>
   </div>

   <div id='subscript' class='step subscript' data-x="50000" data-y='0' data-scale="6">
     <form action="/people" class="subscript_form" id="new_person" method="post">
       
       <div class='name'>
         <input id="name" placeholder="name" name="name" size="30" type="text"  />
       </div>
       <div class='email'>
         <input id="email" placeholder="email" name="email" size="30" type="text" />
       </div>
       <div class='commit'>
         <button type="submit">subscribe</button>
       </div> 
     </form>
   </div>  
   
 </div>