<div id="impress">
   <div id="want-to-crate-your-own-web-startup-but-dont-know-how" class="step facet" data-x="3500" data-y="0" data-z="2000" data-scale="6">
     <p>
       <span class='light'>Want to crate your own </span>
       <span class='big'>web startup</span> 
       <span class='light'>but don't know how?</span>
     </p>
   </div>

   <div id="we-offer" class="step facet" data-x="4500" data-y="0" data-z="1000" data-scale="6" data-rotate-y="90">
     <p>
       <span class='ital'>We offer classes in </span>
       <span class='light'>programming, design and entrepreneurship</span> 
       <span class='ital'>from people who have done it themselves.</span>
     </p>
   </div>

   <div id="need-raise-or-better-job" class="step facet" data-x="3500" data-y="0" data-z="0" data-rotate-y="180" data-scale="6">
     <p>
       <span class='light'>Need to improve your skills to get a </span>
       <span class='big'>raise</span>
       <span class='light'>or</span>
       <span class='big'>better</span>
       <span class='light'>job?</span>
     </p>
   </div>

   <div id="current-tech" class="step facet" data-x="2500" data-y="0" data-z="1000" data-rotate-y="270" data-scale="6">
     <p>
       <span class='ital'>We offer the most current tech and business solutions to help you </span><br>
       <span class='light'>stay ahead of the curve</span>
     </p>
   </div>

   <div id="boost" class="step facet" data-x="3500" data-y="1000" data-z='1000' data-rotate-x='90' data-rotate-y='180' data-rotate-z="90"  data-scale="6">
     <div id='credentials-text'>
       <span id='credentials-text-1'>and boost your </span>
       <span id='credentials-text-2'>CREDENTIALS </span>
       <span id='credentials-text-3'>with recruiters</span>
     </div>
   </div>

   <div id="we-believe" class="step" data-x="8000" data-y="-1000" data-z="-3000"  data-scale="4">
     <p>we believe learning and doing are the same</p>
   </div>
   
   <div id="hands-on" class="step" data-x="7800" data-y="0" data-z="-2000" data-scale="4">
     <p>Our application-based classes provide hands-on training and trouble shooting at every step</p>
   </div>
   
   <div id="dont-waste-time" class="step" data-x="7600" data-y="1000" data-z="-1000" data-scale="4">
     <p>Don't want to waste time Sitting in a class room'</p>
   </div>
   
   <div id="fast-track" class="step" data-x="7400" data-y="2000" data-z="0" data-scale="4">
     <p>We fast track learning by combing the best of online and offline solutions.</p>
   </div>
   
   <div id="only-for-important" class="step" data-x="7200" data-y="3000" data-z="1000" data-scale="4">
     <p>So you only come to class for the important stuff</p>
   </div>

   <div id='subscript' class='step subscript' data-x="20000" data-y='0' data-scale="6">
     <form action="/people" class="subscript_form" id="new_person" method="post">
      
       <input id="person_first_name" placeholder="name" name="person[first_name]" size="30" type="text"  /><br %r>

       <input id="person_last_name" placeholder="email" name="person[last_name]" size="30" type="text" /><br %r>

       <input name="commit" type="submit" value="subscript" />
     </form>
   </div>  
   
 </div>