<% if @page.slideshow %>
  <% if @page.slideshow && @page.slideshow.slides.size > 0 %>
    <%= render :partial => 'slideshow', :locals => {:html_id => 'slides_container', :slideshow => @page.slideshow, :options => "{fx: 'fade', speedIn: 500, speedOut: 1000, sync: 800, delay: -5000}", :row_class => '', :grid_class => ''} %>
  <% end %>
  <br />
  <hr style='clear:left;'/>
<% end %>

<div id="page_content_<%= I18n.locale %>" class="mercury-region" data-type="editable">
  <%= raw @page.content(I18n.locale) %>
</div>
