<ul class="nav nav-tabs">
  <li class="active"><a href="#">Edit Course</a></li>
  <li><%= link_to 'Edit Sessions', course_course_sessions_path(@course.id)%></li>
</ul>
<%= render :partial => 'form' %>