// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label-main-category {
  background-color: #00A1BE;
}

.label-main-category[href] {
  background-color: #00A1BE;
}

.label-sub-category {
  background-color: #FC797D;
}

.label-sub-category[href] {
  background-color: #FC797D;
}

.badge-watchers {
  background-color: #CDCDCD;
}

.badge-watchers[href] {
  background-color: #CDCDCD;
}