// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course_comments {
  float: left;
  width: 100%;
}

.course_comments .new_comment{
  
}

.course_comments .new_comment .left_side{
  margin-left: -19px;
  width: 220px;
}

.course_comments .new_comment .left_side .mention{
  font-size: 10px;
  color: #828282;
}

.course_comments .new_comment .right_side{
  margin-left: -90px;
}

.course_comments .comment_box{
  float: left;
  margin-left: 30px;
  margin-top: -15px;
}

.course_comments .comment_icon{
  float: left;
  margin-left: 15px;
}

.course_comments .comment_btn{
  float: left;
}

.course_comments .comment_count p{
  float: left;
  clear: left;
  font-size: 10px;
  width: 145px;
}

.course_comments .comments{
  float: left;
  clear: left;
  margin-top: 30px;
  width: 100%;
}

.course_comments .comments .comment{

  margin-bottom: 8px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.course_comments .comments .comment .user_name{
}

.course_comments .comments .comment .user_name, 
.course_comments .comments .comment .time_ago{
  font-family: Verdana;
  font-size: 7pt;
  color: #828282;
}

