// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.courses .course .summary{
  font-size : 11px;
}

.category .main_category {
  margin-bottom :10px;
  margin-top :10px;
}

.category .sub_category {
  margin-bottom :10px;
}

.course{
  margin-bottom: 50px;
  padding: 15px;
  border-top: #EEE 1px solid;
}

.course .summary {
  margin-top: 15px;
}

.courses .course .watch {
  margin-left: 4px;
  font-weight: bold;
  font-size: 10px;
}

.icon-eye-open {
  margin-top: 1px;
}

.watch_btn {
  margin-right: 10px;
  margin-top: -3px;
}

.course_page{
  
}

.course_page .course{
  
}

.course_page .course .image{
  margin-left: -10px;
  width: 300px;
  height: 300px;
}

.course_page .course .name{
  float: left;
  margin-bottom: 10px;
  margin-left: 20px;
}

.course_page .course .description{

}

.course_page .course .summary{

}

.course_page .course .social_links{
  clear: left;
  margin-bottom: 30px;
}

.course_page .course .categories{
  float: left;
  margin-left: 20px;
  margin-top: 12px;
  margin-bottom: 10px;
}

.course_page .course .watch_box{
}

.course_page .course .watch_box .watchers{
  margin-left: -10px;
  margin-top: 10px;
}

.course_page .course .watch_box .watch_btn{
  margin-left: -5px;
  margin-top: 10px;
}

.course_page .course .actions{
  margin-left: -10px;
}

.course_page .course .actions .course_admin_actions{
  margin-top: 10px;
}

.course_page .course .actions .course_admin_actions .action {
  margin-right: 10px;
}

.course_page .course .actions .course_admin_actions .action.btn-danger {
  color: white;
}