// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.courses .course .summary{
  font-size : 11px;
}

.category .main_category {
  margin-bottom :10px;
  margin-top :10px;
}

.category .sub_category {
  margin-bottom :10px;
}

.course{
  margin-bottom: 50px;
  padding: 15px;
  border-bottom: #EEE 1px dotted;
}

.course .summary {
  margin-top: 15px;
}

.courses .course .watch {
  margin-left: 4px;
  font-weight: bold;
  font-size: 10px;
}

.icon-eye-open {
  margin-top: 1px;
}

.watch_btn {
  margin-right: 10px;
  margin-top: -3px;
}

.course_page{
  
}

.course_page .course{
  
}

.course_page .course .image{
  margin-left: -10px;
  width: 300px;
  height: 300px;
}

.course_page .course .name{
  float: left;
  margin-bottom: 10px;
  margin-left: 20px;
}

.course_page .course .description{

}

.course_page .course .summary{

}

.course_page .course .social_links{
  clear: left;
  margin-bottom: 30px;
}

.course_page .course .categories{
  float: left;
  margin-left: 20px;
  margin-top: 12px;
  margin-bottom: 10px;
}

.course_page .course .watch_box{
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #969696;
}

.course_page .course .watch_box .watchers{  
  margin-bottom: 10px;
  color: #9C9C9C;
}

.course_page .course .watch_box .watch_btn{

}

.course_page .course .watch_box .watch_btn .watch{
  margin-left: 5px;

}

.course_page .course .enroll_box{
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #969696;
}

.course_page .course .enroll_box .students{
  margin-bottom: 10px;
  color: #9C9C9C;
}

.course_page .course .enroll_box .enroll_btn{

}

.course_page .course .enroll_box .enroll_btn .enroll{
  margin-left: 5px;
}

.course_page .course .actions{
  margin-left: -10px;
}

.course_page .course .fb-like{
  margin-left: -29px;
  margin-top: 20px;
}

.course_page .course .actions .course_admin_actions{
  margin-top: 10px;
}

.course_page .course .actions .course_admin_actions .action {
  margin-right: 10px;
}

.course_page .course .actions .course_admin_actions .action.btn-danger {
  color: white;
}

.course_page .course .start_date_time{
  padding-bottom: 10px;
  border-bottom: 1px dotted #969696;
  margin-bottom: 10px;
}

.course_page .course .address{
  padding-bottom: 10px;
  border-bottom: 1px dotted #969696;
  margin-bottom: 50px;
}

#auth_modal{
  width: 500px;
}

#auth_modal .sign_in_nav{
  
}

#auth_modal .sign_in{
  
}

#auth_modal .sign_up{
  
}

#auth_modal .tab-content{
  margin-left: 100px;
}

#auth_modal .social_oauth{
  margin-top: 5px;
  margin-left: 20px;
  clear: none;
}

#auth_modal .tip{
  margin-left: 20px;
  text-align: left;
}

.watch_btn_right{
  text-align: right;
  margin-right: -25px;
  
  .watch{
    margin-left: 5px;
  }
}

.price{
  font-size: 20px;
  margin-top: 10px;
  float: right;
}

.my_enrollments{
  .state{
    float: left;
    margin-top: 10px;
    font-size: 15px;
  }
}