// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile{
  width: 100%;
}

.profile,
.profile .avatar,
.profile .name,
.profile .about{
  float: left;
}

.account_editing .set_password_to_login_in_as_email{
  float: left;
  margin-top: 100px;
}

.account_editing .connect_other_social_accounts{
  float: left;
  width: 100%;
  margin-top: 10px;
}


.account_editing .connect_other_social_accounts .social_account{
  float: left;
  clear: left;
  margin-top: 20px;
}

.account_editing .connect_other_social_accounts .social_account .connect_it{
  margin-left: 100px;
}

