<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      
    </style>
  </head>
  <body>
    欢迎进入控制面板查看更多信息<br/>
    <%= html.html_safe %>
  </body>
</html>