<div class='guides'>  
  <% @guides.each do |guide| %>
    <div class='guide'>
      <h6><%= link_to guide.title(I18n.locale), guide %></h6>
    </div>
  <% end %>

  <br />

  <%= link_to('New Guide', new_guide_path, :class => 'btn') if current_user_admin? %>
</div>


